/* ----------------------------------
	画面幅に応じた表示・非表示用スタイル
------------------------------------ */
@use "@/scss/global";

.u-mobile-only {
	display: none;

	@include global.mq_max_md {
		display: block;
	}
}

.u-desktop-only {
	display: block;

	@include global.mq_max_md {
		display: none;
	}
}
