/* ----------------------------------
	トップページ/サンプルブロック
------------------------------------ */
@use "@/scss/global" as *;

h1 {
	color: $c_black;
}

.b-sample-block {
	font-size: rem(20);
}

.b-custom-max-mediaquery-test {
	@include mq_max_custom(800px) {
		display: none;
	}
}

.b-custom-min-mediaquery-test {
	@include mq_min_custom(800px) {
		display: none;
	}
}
