/* ----------------------------------
	トップページ/サンプルブロック
------------------------------------ */
@use "@/scss/global";

h1 {
	color: global.$c_black;
}

.b-sample-block {
	font-size: rem(20);
}

.b-custom-max-mediaquery-test {
	@include global.mq_max_custom(800px) {
		display: none;
	}
}

.b-custom-min-mediaquery-test {
	@include global.mq_min_custom(800px) {
		display: none;
	}
}
