<% title="About"; description="description"; %>

<!DOCTYPE html>
<html lang="ja">
	<%- include("modules/_head"); %>
	<body>
		<%- include("modules/_header"); %>
		<h1>This is about page!</h1>
		<%- include("modules/_footer"); %>
	</body>
</html>
