<% title="トップ"; description="description"; %>

<!DOCTYPE html>
<html lang="ja">
	<%- include("modules/_head"); %>
	<body>
		<%- include("modules/_header"); %>
		<h1>見出し1</h1>
		<h2>見出し2</h2>
		<h3>見出し3</h3>
		<h4>見出し4</h4>
		<h5>見出し5</h5>
		<h6>見出し6</h6>
		<p class="u-hover-transparent">Be transparent on hover</p>
		<p class="u-desktop-only">PC ONLY</p>
		<p class="u-mobile-only">SP ONLY</p>
		<p class="top-custom-max-mediaquery-test">
			カスタムメディアクエリ 800px以下で非表示
		</p>
		<p class="top-custom-min-mediaquery-test">
			カスタムメディアクエリ 800px以上で非表示
		</p>
		<img src="/src/img/icon.png" alt="" decoding="async" loading="lazy" />
		<div class="top-bg-image-test"></div>
		<%- include("modules/_footer"); %>
	</body>
</html>
