/* ----------------------------------
	top-sample-block
------------------------------------ */
@use "@/scss/global" as *;

h1 {
	color: $c_black;

	@include mq_hover {
		&:hover {
			color: red;
		}
	}
}

.top-sample-block {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 32px;
	padding-left: 12px;
	font-size: rem(20);
}

.top-custom-max-mediaquery-test {
	@include mq_max_custom(800px) {
		display: none;
	}
}

.top-custom-min-mediaquery-test {
	@include mq_min_custom(800px) {
		display: none;
	}
}

.top-bg-image-test {
	width: 300px;
	height: 200px;
	background-image: url("~@/img/thumbnail.jpeg");
	background-size: contain;
}
